In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField,StringType,IntegerType

In [2]:
spark = SparkSession.builder.master("local[*]").appName("Demo").getOrCreate()
spark

23/04/07 09:46:57 WARN Utils: Your hostname, ZSCHN01LP0253L resolves to a loopback address: 127.0.1.1; using 192.168.1.5 instead (on interface wlp0s20f3)
23/04/07 09:46:57 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/07 09:46:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
data=[(1,"pradeep","ml"),(2,"pradeep1","de")]
schema=StructType([\
                  StructField("id",IntegerType(),True),
                  StructField("Name",StringType(),True),
                  StructField("Designation",StringType(),True)
                  ])
data=spark.createDataFrame(data=data,schema=schema)
data.show()

+---+--------+-----------+
| id|    Name|Designation|
+---+--------+-----------+
|  1| pradeep|         ml|
|  2|pradeep1|         de|
+---+--------+-----------+

In [7]:
data.printSchema()

root
 |-- id: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Designation: string (nullable = true)

In [8]:
data.show(truncate=True)

+---+--------+-----------+
| id|    Name|Designation|
+---+--------+-----------+
|  1| pradeep|         ml|
|  2|pradeep1|         de|
+---+--------+-----------+

In [10]:
data=spark.read.option("header",True).option("inferSchema",True).csv("../Spark-main/employees.csv")
data.show(1)

+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|  2600|            - |       124|           50|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
only showing top 1 row

In [11]:
data.printSchema()

root
 |-- EMPLOYEE_ID: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: string (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: integer (nullable = true)
 |-- COMMISSION_PCT: string (nullable = true)
 |-- MANAGER_ID: string (nullable = true)
 |-- DEPARTMENT_ID: integer (nullable = true)

In [12]:
data.select("EMPLOYEE_ID","SALARY").show()

+-----------+------+
|EMPLOYEE_ID|SALARY|
+-----------+------+
|        198|  2600|
|        199|  2600|
|        200|  4400|
|        201| 13000|
|        202|  6000|
|        203|  6500|
|        204| 10000|
|        205| 12008|
|        206|  8300|
|        100| 24000|
|        101| 17000|
|        102| 17000|
|        103|  9000|
|        104|  6000|
|        105|  4800|
|        106|  4800|
|        107|  4200|
|        108| 12008|
|        109|  9000|
|        110|  8200|
+-----------+------+
only showing top 20 rows

In [13]:
data.select(data.EMPLOYEE_ID,data.SALARY).show()

+-----------+------+
|EMPLOYEE_ID|SALARY|
+-----------+------+
|        198|  2600|
|        199|  2600|
|        200|  4400|
|        201| 13000|
|        202|  6000|
|        203|  6500|
|        204| 10000|
|        205| 12008|
|        206|  8300|
|        100| 24000|
|        101| 17000|
|        102| 17000|
|        103|  9000|
|        104|  6000|
|        105|  4800|
|        106|  4800|
|        107|  4200|
|        108| 12008|
|        109|  9000|
|        110|  8200|
+-----------+------+
only showing top 20 rows

In [14]:
data.select(data["EMPLOYEE_ID"],data["SALARY"]).show()

+-----------+------+
|EMPLOYEE_ID|SALARY|
+-----------+------+
|        198|  2600|
|        199|  2600|
|        200|  4400|
|        201| 13000|
|        202|  6000|
|        203|  6500|
|        204| 10000|
|        205| 12008|
|        206|  8300|
|        100| 24000|
|        101| 17000|
|        102| 17000|
|        103|  9000|
|        104|  6000|
|        105|  4800|
|        106|  4800|
|        107|  4200|
|        108| 12008|
|        109|  9000|
|        110|  8200|
+-----------+------+
only showing top 20 rows

In [15]:
from pyspark.sql.functions import col
data.select(col("EMPLOYEE_ID"),col("SALARY")).show()

+-----------+------+
|EMPLOYEE_ID|SALARY|
+-----------+------+
|        198|  2600|
|        199|  2600|
|        200|  4400|
|        201| 13000|
|        202|  6000|
|        203|  6500|
|        204| 10000|
|        205| 12008|
|        206|  8300|
|        100| 24000|
|        101| 17000|
|        102| 17000|
|        103|  9000|
|        104|  6000|
|        105|  4800|
|        106|  4800|
|        107|  4200|
|        108| 12008|
|        109|  9000|
|        110|  8200|
+-----------+------+
only showing top 20 rows

In [16]:
data.select(col("EMPLOYEE_ID").alias("e_id"),col("SALARY").alias("sal")).show()

+----+-----+
|e_id|  sal|
+----+-----+
| 198| 2600|
| 199| 2600|
| 200| 4400|
| 201|13000|
| 202| 6000|
| 203| 6500|
| 204|10000|
| 205|12008|
| 206| 8300|
| 100|24000|
| 101|17000|
| 102|17000|
| 103| 9000|
| 104| 6000|
| 105| 4800|
| 106| 4800|
| 107| 4200|
| 108|12008|
| 109| 9000|
| 110| 8200|
+----+-----+
only showing top 20 rows

In [17]:
data.withColumn("New_Salary",col("SALARY")+1000).select("EMPLOYEE_ID","SALARY","New_Salary").show(1)

+-----------+------+----------+
|EMPLOYEE_ID|SALARY|New_Salary|
+-----------+------+----------+
|        198|  2600|      3600|
+-----------+------+----------+
only showing top 1 row

In [19]:
data.withColumnRenamed("SALARY","New_Salary").show(1)

+-----------+----------+---------+--------+------------+---------+--------+----------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|New_Salary|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+--------+----------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|      2600|            - |       124|           50|
+-----------+----------+---------+--------+------------+---------+--------+----------+--------------+----------+-------------+
only showing top 1 row

In [20]:
data.drop("MANAGER_ID").show()

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|            - |           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|            - |           50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|            - |           10|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|            - |           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|            - |           20|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|            - |           40|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|            - |           70|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|            - |          110|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|            - |          110|
|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|            - |           90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|            - |           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|            - |           90|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|            - |           60|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|            - |           60|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|            - |           60|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-FEB-06|   IT_PROG|  4800|            - |           60|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|            - |           60|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|            - |          100|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|            - |          100|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|            - |          100|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+-------------+
only showing top 20 rows

In [26]:
data.filter(data.SALARY > 10000).select("EMPLOYEE_ID","SALARY").show(1)

+-----------+------+
|EMPLOYEE_ID|SALARY|
+-----------+------+
|        201| 13000|
+-----------+------+
only showing top 1 row

In [27]:
data.filter(data["SALARY"] > 10000).select("EMPLOYEE_ID","SALARY").show(1)

+-----------+------+
|EMPLOYEE_ID|SALARY|
+-----------+------+
|        201| 13000|
+-----------+------+
only showing top 1 row

In [28]:
data.filter(col("SALARY") > 10000).select("EMPLOYEE_ID","SALARY").show(1)

+-----------+------+
|EMPLOYEE_ID|SALARY|
+-----------+------+
|        201| 13000|
+-----------+------+
only showing top 1 row

In [32]:
from pyspark.sql.functions import *
data.select(count("SALARY")).show()

+-------------+
|count(SALARY)|
+-------------+
|           50|
+-------------+

In [33]:
data.select(avg("SALARY")).show()

+-----------+
|avg(SALARY)|
+-----------+
|    6182.32|
+-----------+

In [34]:
data.select(max("SALARY")).show()

+-----------+
|max(SALARY)|
+-----------+
|      24000|
+-----------+

In [35]:
data.select(min("SALARY")).show()

+-----------+
|min(SALARY)|
+-----------+
|       2100|
+-----------+

In [36]:
data.select("SALARY").orderBy("SALARY").show()

+------+
|SALARY|
+------+
|  2100|
|  2200|
|  2200|
|  2400|
|  2400|
|  2500|
|  2500|
|  2500|
|  2600|
|  2600|
|  2600|
|  2700|
|  2700|
|  2800|
|  2800|
|  2900|
|  2900|
|  3100|
|  3200|
|  3200|
+------+
only showing top 20 rows

In [38]:
data.select("SALARY").orderBy(col("SALARY").desc()).show()

+------+
|SALARY|
+------+
| 24000|
| 17000|
| 17000|
| 13000|
| 12008|
| 12008|
| 11000|
| 10000|
|  9000|
|  9000|
|  8300|
|  8200|
|  8200|
|  8000|
|  7900|
|  7800|
|  7700|
|  6900|
|  6500|
|  6500|
+------+
only showing top 20 rows

In [40]:
data.select("*").show(1)

+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|  2600|            - |       124|           50|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
only showing top 1 row

In [41]:
data.groupBy("DEPARTMENT_ID").max("SALARY").show()

+-------------+-----------+
|DEPARTMENT_ID|max(SALARY)|
+-------------+-----------+
|           20|      13000|
|           40|       6500|
|          100|      12008|
|           10|       4400|
|           50|       8200|
|           70|      10000|
|           90|      24000|
|           60|       9000|
|          110|      12008|
|           30|      11000|
+-------------+-----------+

In [55]:
data.groupBy("DEPARTMENT_ID").agg(max("SALARY").alias("max_salary"),min("SALARY").alias("min_salary"),avg("SALARY").alias("avg_salary")).where(col("max_salary")==13000).show()

+-------------+----------+----------+----------+
|DEPARTMENT_ID|max_salary|min_salary|avg_salary|
+-------------+----------+----------+----------+
|           20|     13000|      6000|    9500.0|
+-------------+----------+----------+----------+

In [79]:
data.withColumn("New_Salary",when( col("SALARY")<5000,"a" ).when( (col("SALARY")>=5000) & (col("SALARY")<15000) ,"b" ).otherwise("c")).select("SALARY","New_Salary").show()

+------+----------+
|SALARY|New_Salary|
+------+----------+
|  2600|         a|
|  2600|         a|
|  4400|         a|
| 13000|         b|
|  6000|         b|
|  6500|         b|
| 10000|         b|
| 12008|         b|
|  8300|         b|
| 24000|         c|
| 17000|         c|
| 17000|         c|
|  9000|         b|
|  6000|         b|
|  4800|         a|
|  4800|         a|
|  4200|         a|
| 12008|         b|
|  9000|         b|
|  8200|         b|
+------+----------+
only showing top 20 rows

In [82]:
data.createOrReplaceTempView("employee")
spark.sql("select * from employee").show(1)

+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|  2600|            - |       124|           50|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
only showing top 1 row