In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField,StringType,IntegerType

In [4]:
spark = SparkSession.builder.master("local[*]").appName("Demo").getOrCreate()
spark

23/07/02 08:05:17 WARN Utils: Your hostname, ZSCHN01LP0253L resolves to a loopback address: 127.0.1.1; using 192.168.1.6 instead (on interface wlp0s20f3)
23/07/02 08:05:17 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/07/02 08:05:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [12]:
data=[("Pradee",1),("RAdee",2)]
schema=StructType([ \
                    StructField("Name",StringType(),True), \
                    StructField("Id",IntegerType(),True)
                    ]
                  )
data = spark.createDataFrame(data=data,schema=schema)
data.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Id: integer (nullable = true)

In [17]:
data.show(truncate=True)

+------+---+
|  Name| Id|
+------+---+
|Pradee|  1|
| RAdee|  2|
+------+---+

In [19]:
data=spark.read.option("header",True).option("inferSchema",True).csv("../Data/employees.csv")
data.show(1)

+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|  2600|            - |       124|           50|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
only showing top 1 row

In [20]:
data.printSchema()

root
 |-- EMPLOYEE_ID: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: string (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: integer (nullable = true)
 |-- COMMISSION_PCT: string (nullable = true)
 |-- MANAGER_ID: string (nullable = true)
 |-- DEPARTMENT_ID: integer (nullable = true)

In [22]:
data.select("*").show(2)

+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|  2600|            - |       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|SH_CLERK|  2600|            - |       124|           50|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
only showing top 2 rows

In [23]:
data.select("EMPLOYEE_ID","SALARY").show(1)

+-----------+------+
|EMPLOYEE_ID|SALARY|
+-----------+------+
|        198|  2600|
+-----------+------+
only showing top 1 row

In [24]:
data.select(data.EMPLOYEE_ID,data.SALARY).show(1)

+-----------+------+
|EMPLOYEE_ID|SALARY|
+-----------+------+
|        198|  2600|
+-----------+------+
only showing top 1 row

In [26]:
data.select(data["EMPLOYEE_ID"],data["SALARY"]).show(1)

+-----------+------+
|EMPLOYEE_ID|SALARY|
+-----------+------+
|        198|  2600|
+-----------+------+
only showing top 1 row

In [27]:
from pyspark.sql.functions import col
data.select(col("EMPLOYEE_ID"),col("SALARY")).show(1)

+-----------+------+
|EMPLOYEE_ID|SALARY|
+-----------+------+
|        198|  2600|
+-----------+------+
only showing top 1 row

In [28]:
data.select(col("EMPLOYEE_ID").alias("eid"),col("SALARY")).show(1)

+---+------+
|eid|SALARY|
+---+------+
|198|  2600|
+---+------+
only showing top 1 row

In [31]:
data.withColumn("NewSal",col("SALARY")+100).select("EMPLOYEE_ID","SALARY","NewSal").show(2)

+-----------+------+------+
|EMPLOYEE_ID|SALARY|NewSal|
+-----------+------+------+
|        198|  2600|  2700|
|        199|  2600|  2700|
+-----------+------+------+
only showing top 2 rows

In [37]:
data.withColumnRenamed("SALARY","NewSal").show(2)

+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|NewSal|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|  2600|            - |       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|SH_CLERK|  2600|            - |       124|           50|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
only showing top 2 rows

In [39]:
data.drop("FIRST_NAME","LAST_NAME").show(5)

+-----------+--------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+--------+------------+---------+--------+------+--------------+----------+-------------+
|        198|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|  2600|            - |       124|           50|
|        199|  DGRANT|650.507.9844|13-JAN-08|SH_CLERK|  2600|            - |       124|           50|
|        200| JWHALEN|515.123.4444|17-SEP-03| AD_ASST|  4400|            - |       101|           10|
|        201|MHARTSTE|515.123.5555|17-FEB-04|  MK_MAN| 13000|            - |       100|           20|
|        202|    PFAY|603.123.6666|17-AUG-05|  MK_REP|  6000|            - |       201|           20|
+-----------+--------+------------+---------+--------+------+--------------+----------+-------------+
only showing top 5 rows

In [46]:
data.filter("SALARY > 5000").show(4)
data.filter("SALARY != 5000").show(4)

+-----------+----------+---------+--------+------------+---------+------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+------+------+--------------+----------+-------------+
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|MK_MAN| 13000|            - |       100|           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|MK_REP|  6000|            - |       201|           20|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|HR_REP|  6500|            - |       101|           40|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|PR_REP| 10000|            - |       101|           70|
+-----------+----------+---------+--------+------------+---------+------+------+--------------+----------+-------------+
only showing top 4 rows

+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|  2600|            - |       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|SH_CLERK|  2600|            - |       124|           50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03| AD_ASST|  4400|            - |       101|           10|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|  MK_MAN| 13000|            - |       100|           20|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
only showing top 4 rows

In [47]:
data.filter(data["SALARY"] > 5000).show(1)
data.filter(data["SALARY"] != 5000).show(1)

+-----------+----------+---------+--------+------------+---------+------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+------+------+--------------+----------+-------------+
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|MK_MAN| 13000|            - |       100|           20|
+-----------+----------+---------+--------+------------+---------+------+------+--------------+----------+-------------+
only showing top 1 row

+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|  2600|            - |       124|           50|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
only showing top 1 row

In [44]:
data.filter(data.SALARY > 5000).show(1)

+-----------+----------+---------+--------+------------+---------+------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+------+------+--------------+----------+-------------+
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|MK_MAN| 13000|            - |       100|           20|
+-----------+----------+---------+--------+------------+---------+------+------+--------------+----------+-------------+
only showing top 1 row

In [57]:
data.filter((col("SALARY") > 5000) & (col("SALARY") < 8000)).show(1)

+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|EMAIL|PHONE_NUMBER|HIRE_DATE|JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+
|        202|       Pat|      Fay| PFAY|603.123.6666|17-AUG-05|MK_REP|  6000|            - |       201|           20|
+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+
only showing top 1 row

In [58]:
data.distinct().show(5)

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        120|   Matthew|    Weiss|  MWEISS|650.123.1234|18-JUL-04|    ST_MAN|  8000|            - |       100|           50|
|        118|       Guy|   Himuro| GHIMURO|515.127.4565|15-NOV-06|  PU_CLERK|  2600|            - |       114|           30|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|            - |       108|          100|
|        123|    Shanta|  Vollman|SVOLLMAN|650.123.4234|10-OCT-05|    ST_MAN|  6500|            - |       100|           50|
|        124|     Kevin|  Mourgos|KMOURGOS|650.123.5234|16-NOV-07|    ST_MAN|  5800|            - |       100|           50|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 5 rows

In [61]:
from pyspark.sql.functions import *
data.select(avg("SALARY").alias("Average")).show()

+-------+
|Average|
+-------+
|6182.32|
+-------+

In [62]:
data.select(sum("SALARY").alias("Average")).show()

+-------+
|Average|
+-------+
| 309116|
+-------+

In [69]:
data.select(max("SALARY").alias("Average")).show()

+-------+
|Average|
+-------+
|  24000|
+-------+

In [70]:
data.select("*").orderBy(col("SALARY").desc()).show(5)

+-----------+----------+---------+--------+------------+---------+-------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE| JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+-------+------+--------------+----------+-------------+
|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|AD_PRES| 24000|            - |        - |           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|  AD_VP| 17000|            - |       100|           90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|  AD_VP| 17000|            - |       100|           90|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04| MK_MAN| 13000|            - |       100|           20|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02| AC_MGR| 12008|            - |       101|          110|
+-----------+----------+---------+--------+------------+---------+-------+------+--------------+----------+-------------+
only showing top 5 rows

In [75]:
data.groupBy("DEPARTMENT_ID").agg(max("SALARY").alias("MaxSal")).show()

+-------------+------+
|DEPARTMENT_ID|MaxSal|
+-------------+------+
|           20| 13000|
|           40|  6500|
|          100| 12008|
|           10|  4400|
|           50|  8200|
|           70| 10000|
|           90| 24000|
|           60|  9000|
|          110| 12008|
|           30| 11000|
+-------------+------+

In [81]:
data.withColumn("SalBinning",when(col("SALARY") < 5000,"1").when( ((col("SALARY") > 5000) & (col("SALARY") < 10000)),"2").otherwise("3")).select("SalBinning","SALARY").show()

+----------+------+
|SalBinning|SALARY|
+----------+------+
|         1|  2600|
|         1|  2600|
|         1|  4400|
|         3| 13000|
|         2|  6000|
|         2|  6500|
|         3| 10000|
|         3| 12008|
|         2|  8300|
|         3| 24000|
|         3| 17000|
|         3| 17000|
|         2|  9000|
|         2|  6000|
|         1|  4800|
|         1|  4800|
|         1|  4200|
|         3| 12008|
|         2|  9000|
|         2|  8200|
+----------+------+
only showing top 20 rows

In [90]:
data.createOrReplaceTempView("employee")
spark.sql("select * from employee where SALARY between 5000 and 7000  order by SALARY ").select("*").show(2)

+-----------+----------+---------+--------+------------+---------+------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+------+------+--------------+----------+-------------+
|        124|     Kevin|  Mourgos|KMOURGOS|650.123.5234|16-NOV-07|ST_MAN|  5800|            - |       100|           50|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|MK_REP|  6000|            - |       201|           20|
+-----------+----------+---------+--------+------------+---------+------+------+--------------+----------+-------------+
only showing top 2 rows