In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField,StringType,IntegerType

In [10]:
spark = SparkSession.builder.master("local[*]").appName("demo").getOrCreate()
spark

23/04/10 11:46:51 WARN Utils: Your hostname, ZSCHN01LP0253L resolves to a loopback address: 127.0.1.1; using 192.168.230.237 instead (on interface wlp0s20f3)
23/04/10 11:46:51 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/10 11:46:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [98]:
data = [(1,"pradeep","DE"),(1,"pradeep1","MLE")]
schema=StructType([
                 StructField("id",IntegerType(),True),\
                  StructField("name",StringType(),True),\
                  StructField("designation",StringType(),True)
])

In [99]:
data = spark.createDataFrame(data=data,schema=schema)
data

DataFrame[id: int, name: string, designation: string]

In [100]:
data.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- designation: string (nullable = true)

In [101]:
data.show()

+---+--------+-----------+
| id|    name|designation|
+---+--------+-----------+
|  1| pradeep|         DE|
|  1|pradeep1|        MLE|
+---+--------+-----------+

data.show(truncate=True)

In [102]:
data=spark.read.option("header",True).option("inferSchema",True).csv("../Spark-main/employees.csv")
data.show(1)

+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|  2600|            - |       124|           50|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
only showing top 1 row

In [103]:
data.printSchema()

root
 |-- EMPLOYEE_ID: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: string (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: integer (nullable = true)
 |-- COMMISSION_PCT: string (nullable = true)
 |-- MANAGER_ID: string (nullable = true)
 |-- DEPARTMENT_ID: integer (nullable = true)

In [23]:
data.select("*").show(1)

+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|  2600|            - |       124|           50|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
only showing top 1 row

In [24]:
data.select("EMPLOYEE_ID","SALARY").show(1)

+-----------+------+
|EMPLOYEE_ID|SALARY|
+-----------+------+
|        198|  2600|
+-----------+------+
only showing top 1 row

In [25]:
data.select(data.EMPLOYEE_ID,data.SALARY).show(1)

+-----------+------+
|EMPLOYEE_ID|SALARY|
+-----------+------+
|        198|  2600|
+-----------+------+
only showing top 1 row

In [26]:
data.select(data["EMPLOYEE_ID"],data["SALARY"]).show(1)

+-----------+------+
|EMPLOYEE_ID|SALARY|
+-----------+------+
|        198|  2600|
+-----------+------+
only showing top 1 row

In [28]:
from pyspark.sql.functions import col
data.select(col("EMPLOYEE_ID"),col("SALARY")).show(1)

+-----------+------+
|EMPLOYEE_ID|SALARY|
+-----------+------+
|        198|  2600|
+-----------+------+
only showing top 1 row

In [29]:
data.withColumn("New_Salary",col("SALARY")+1000).select("EMPLOYEE_ID","SALARY","New_Salary").show(1)

+-----------+------+----------+
|EMPLOYEE_ID|SALARY|New_Salary|
+-----------+------+----------+
|        198|  2600|      3600|
+-----------+------+----------+
only showing top 1 row

In [32]:
data.withColumnRenamed("SALARY","Salary").select("EMPLOYEE_ID","Salary").show(1)

+-----------+------+
|EMPLOYEE_ID|Salary|
+-----------+------+
|        198|  2600|
+-----------+------+
only showing top 1 row

In [33]:
data.select("*").show(1)

+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|  2600|            - |       124|           50|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
only showing top 1 row

In [36]:
data.drop("MANAGER_ID","COMMISSION_PCT").select("*").show(1)

+-----------+----------+---------+--------+------------+---------+--------+------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+--------+------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|  2600|           50|
+-----------+----------+---------+--------+------------+---------+--------+------+-------------+
only showing top 1 row

In [41]:
data.filter("SALARY > 2000").select("EMPLOYEE_ID","SALARY").show(10)

+-----------+------+
|EMPLOYEE_ID|SALARY|
+-----------+------+
|        198|  2600|
|        199|  2600|
|        200|  4400|
|        201| 13000|
|        202|  6000|
|        203|  6500|
|        204| 10000|
|        205| 12008|
|        206|  8300|
|        100| 24000|
+-----------+------+
only showing top 10 rows

In [42]:
data.filter(data.SALARY > 2000).select("EMPLOYEE_ID","SALARY").show(10)

+-----------+------+
|EMPLOYEE_ID|SALARY|
+-----------+------+
|        198|  2600|
|        199|  2600|
|        200|  4400|
|        201| 13000|
|        202|  6000|
|        203|  6500|
|        204| 10000|
|        205| 12008|
|        206|  8300|
|        100| 24000|
+-----------+------+
only showing top 10 rows

In [43]:
data.filter(data["SALARY"] > 2000).select("EMPLOYEE_ID","SALARY").show(10)

+-----------+------+
|EMPLOYEE_ID|SALARY|
+-----------+------+
|        198|  2600|
|        199|  2600|
|        200|  4400|
|        201| 13000|
|        202|  6000|
|        203|  6500|
|        204| 10000|
|        205| 12008|
|        206|  8300|
|        100| 24000|
+-----------+------+
only showing top 10 rows

In [44]:
data.filter(col("SALARY") > 2000).select("EMPLOYEE_ID","SALARY").show(10)

+-----------+------+
|EMPLOYEE_ID|SALARY|
+-----------+------+
|        198|  2600|
|        199|  2600|
|        200|  4400|
|        201| 13000|
|        202|  6000|
|        203|  6500|
|        204| 10000|
|        205| 12008|
|        206|  8300|
|        100| 24000|
+-----------+------+
only showing top 10 rows

In [46]:
data.filter( (col("SALARY") > 2000) & (col("SALARY") < 5000)).select("EMPLOYEE_ID","SALARY").show(10)

+-----------+------+
|EMPLOYEE_ID|SALARY|
+-----------+------+
|        198|  2600|
|        199|  2600|
|        200|  4400|
|        105|  4800|
|        106|  4800|
|        107|  4200|
|        115|  3100|
|        116|  2900|
|        117|  2800|
|        118|  2600|
+-----------+------+
only showing top 10 rows

In [48]:
data.filter( "SALARY > 2000 and SALARY < 5000").select("EMPLOYEE_ID","SALARY").show(10)

+-----------+------+
|EMPLOYEE_ID|SALARY|
+-----------+------+
|        198|  2600|
|        199|  2600|
|        200|  4400|
|        105|  4800|
|        106|  4800|
|        107|  4200|
|        115|  3100|
|        116|  2900|
|        117|  2800|
|        118|  2600|
+-----------+------+
only showing top 10 rows

In [49]:
data.select("*").show(1)

+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|  2600|            - |       124|           50|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
only showing top 1 row

In [52]:
data.dropDuplicates(["EMPLOYEE_ID","SALARY"]).show(1)

+-----------+----------+---------+-----+------------+---------+-------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|EMAIL|PHONE_NUMBER|HIRE_DATE| JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+-----+------------+---------+-------+------+--------------+----------+-------------+
|        100|    Steven|     King|SKING|515.123.4567|17-JUN-03|AD_PRES| 24000|            - |        - |           90|
+-----------+----------+---------+-----+------------+---------+-------+------+--------------+----------+-------------+
only showing top 1 row

In [56]:
data.distinct().show(1)

+-----------+----------+---------+------+------------+---------+------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME| EMAIL|PHONE_NUMBER|HIRE_DATE|JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+------+------------+---------+------+------+--------------+----------+-------------+
|        120|   Matthew|    Weiss|MWEISS|650.123.1234|18-JUL-04|ST_MAN|  8000|            - |       100|           50|
+-----------+----------+---------+------+------------+---------+------+------+--------------+----------+-------------+
only showing top 1 row

In [72]:
data.printSchema()

root
 |-- EMPLOYEE_ID: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: string (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: integer (nullable = true)
 |-- COMMISSION_PCT: string (nullable = true)
 |-- MANAGER_ID: string (nullable = true)
 |-- DEPARTMENT_ID: integer (nullable = true)

In [74]:
from pyspark.sql.functions import *
data.select(sum('SALARY')).show(1)

+-----------+
|sum(SALARY)|
+-----------+
|     309116|
+-----------+

In [75]:
data.select(count('SALARY')).show(1)

+-------------+
|count(SALARY)|
+-------------+
|           50|
+-------------+

In [76]:
data.select(avg('SALARY')).show(1)

+-----------+
|avg(SALARY)|
+-----------+
|    6182.32|
+-----------+

In [77]:
data.select(max('SALARY')).show(1)

+-----------+
|max(SALARY)|
+-----------+
|      24000|
+-----------+

In [78]:
data.select(min('SALARY')).show(1)

+-----------+
|min(SALARY)|
+-----------+
|       2100|
+-----------+

In [82]:
data.select('*').orderBy('SALARY').show(1)

+-----------+----------+---------+-------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|  EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+-------+------------+---------+--------+------+--------------+----------+-------------+
|        132|        TJ|    Olson|TJOLSON|650.124.8234|10-APR-07|ST_CLERK|  2100|            - |       121|           50|
+-----------+----------+---------+-------+------------+---------+--------+------+--------------+----------+-------------+
only showing top 1 row

In [83]:
data.groupBy("MANAGER_ID").avg("SALARY").show()

+----------+------------------+
|MANAGER_ID|       avg(SALARY)|
+----------+------------------+
|       124|            2600.0|
|       205|            8300.0|
|       101|            8983.2|
|       100|10488.888888888889|
|       120|            2625.0|
|       201|            6000.0|
|       102|            9000.0|
|       103|            4950.0|
|       122|            2700.0|
|       108|            7920.0|
|       114|            2780.0|
|       121|            2675.0|
|        - |           24000.0|
|       123|            3000.0|
+----------+------------------+

In [92]:
data.withColumn("Bucketing",when(col("SALARY")  < 5000,"A").when( ( (col("SALARY") >= 5000) & (col("SALARY") < 10000) ) ,"B").otherwise("C")).select("SALARY","Bucketing").show(10)

+------+---------+
|SALARY|Bucketing|
+------+---------+
|  2600|        A|
|  2600|        A|
|  4400|        A|
| 13000|        C|
|  6000|        B|
|  6500|        B|
| 10000|        C|
| 12008|        C|
|  8300|        B|
| 24000|        C|
+------+---------+
only showing top 10 rows

In [105]:
data.createOrReplaceTempView("employee")
spark.sql("select * from employee").show(1)

+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|  2600|            - |       124|           50|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
only showing top 1 row