In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField,StringType,IntegerType

In [2]:
spark=SparkSession.builder.master("local[*]").appName("Demo").getOrCreate()
spark

23/06/27 13:05:30 WARN Utils: Your hostname, ZSCHN01LP0253L resolves to a loopback address: 127.0.1.1; using 192.168.98.237 instead (on interface wlp0s20f3)
23/06/27 13:05:30 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/06/27 13:05:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
data=[(1,"Pradeep"),(2,"radee")]
schema=StructType(\
                 [StructField("id",IntegerType(),True),\
                 StructField("Name",StringType(),True)
                 ])
data=spark.createDataFrame(data=data,schema=schema)
data.printSchema()

root
 |-- id: integer (nullable = true)
 |-- Name: string (nullable = true)

In [4]:
data.show(truncate=True)

+---+-------+
| id|   Name|
+---+-------+
|  1|Pradeep|
|  2|  radee|
+---+-------+

In [5]:
data=spark.read.option("header",True).option("inferSchema",True).csv("../Data/employees.csv")
data.show(1)

+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|  2600|            - |       124|           50|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
only showing top 1 row

In [6]:
data.printSchema()

root
 |-- EMPLOYEE_ID: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: string (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: integer (nullable = true)
 |-- COMMISSION_PCT: string (nullable = true)
 |-- MANAGER_ID: string (nullable = true)
 |-- DEPARTMENT_ID: integer (nullable = true)

In [7]:
data.select("EMPLOYEE_ID","SALARY").show(2)

+-----------+------+
|EMPLOYEE_ID|SALARY|
+-----------+------+
|        198|  2600|
|        199|  2600|
+-----------+------+
only showing top 2 rows

In [8]:
data.select(data.EMPLOYEE_ID,data.SALARY).show(2)

+-----------+------+
|EMPLOYEE_ID|SALARY|
+-----------+------+
|        198|  2600|
|        199|  2600|
+-----------+------+
only showing top 2 rows

In [9]:
data.select(data["EMPLOYEE_ID"],data["SALARY"]).show(2)

+-----------+------+
|EMPLOYEE_ID|SALARY|
+-----------+------+
|        198|  2600|
|        199|  2600|
+-----------+------+
only showing top 2 rows

In [10]:
from pyspark.sql.functions import col
data.select(col("EMPLOYEE_ID"),col("SALARY")).show(2)

+-----------+------+
|EMPLOYEE_ID|SALARY|
+-----------+------+
|        198|  2600|
|        199|  2600|
+-----------+------+
only showing top 2 rows

In [11]:
data.select(col("EMPLOYEE_ID").alias("eid"),col("SALARY")).show(2)

+---+------+
|eid|SALARY|
+---+------+
|198|  2600|
|199|  2600|
+---+------+
only showing top 2 rows

In [12]:
data.withColumn("NewSalary",col("SALARY")+1000).select("EMPLOYEE_ID","SALARY","NewSalary").show(1)

+-----------+------+---------+
|EMPLOYEE_ID|SALARY|NewSalary|
+-----------+------+---------+
|        198|  2600|     3600|
+-----------+------+---------+
only showing top 1 row

In [13]:
data.withColumnRenamed("SALARY","NEW_SAL").select("*").show(1)

+-----------+----------+---------+--------+------------+---------+--------+-------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|NEW_SAL|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+--------+-------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|   2600|            - |       124|           50|
+-----------+----------+---------+--------+------------+---------+--------+-------+--------------+----------+-------------+
only showing top 1 row

In [14]:
data.drop("FIRST_NAME","HIRE_DATE").show(1)

+-----------+---------+--------+------------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|LAST_NAME|   EMAIL|PHONE_NUMBER|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+---------+--------+------------+--------+------+--------------+----------+-------------+
|        198| OConnell|DOCONNEL|650.507.9833|SH_CLERK|  2600|            - |       124|           50|
+-----------+---------+--------+------------+--------+------+--------------+----------+-------------+
only showing top 1 row

In [15]:
data.filter("SALARY>5000").show(1)

+-----------+----------+---------+--------+------------+---------+------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+------+------+--------------+----------+-------------+
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|MK_MAN| 13000|            - |       100|           20|
+-----------+----------+---------+--------+------------+---------+------+------+--------------+----------+-------------+
only showing top 1 row

In [16]:
data.filter(data.SALARY>5000).show(1)

+-----------+----------+---------+--------+------------+---------+------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+------+------+--------------+----------+-------------+
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|MK_MAN| 13000|            - |       100|           20|
+-----------+----------+---------+--------+------------+---------+------+------+--------------+----------+-------------+
only showing top 1 row

In [17]:
data.filter(data["SALARY"]>5000).show(1)

+-----------+----------+---------+--------+------------+---------+------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+------+------+--------------+----------+-------------+
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|MK_MAN| 13000|            - |       100|           20|
+-----------+----------+---------+--------+------------+---------+------+------+--------------+----------+-------------+
only showing top 1 row

In [18]:
data.filter(col("SALARY")>5000).show(1)

+-----------+----------+---------+--------+------------+---------+------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+------+------+--------------+----------+-------------+
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|MK_MAN| 13000|            - |       100|           20|
+-----------+----------+---------+--------+------------+---------+------+------+--------------+----------+-------------+
only showing top 1 row

In [19]:
data.filter( (col("SALARY")>5000) & (col("SALARY")<7000)).show(1)

+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|EMAIL|PHONE_NUMBER|HIRE_DATE|JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+
|        202|       Pat|      Fay| PFAY|603.123.6666|17-AUG-05|MK_REP|  6000|            - |       201|           20|
+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+
only showing top 1 row

In [20]:
data.filter("SALARY>5000 and SALARY<7000").show(1)

+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|EMAIL|PHONE_NUMBER|HIRE_DATE|JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+
|        202|       Pat|      Fay| PFAY|603.123.6666|17-AUG-05|MK_REP|  6000|            - |       201|           20|
+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+
only showing top 1 row

In [21]:
from pyspark.sql.functions import *
data.select(count("SALARY").alias("count")).show(1)

+-----+
|count|
+-----+
|   50|
+-----+

In [22]:
data.select(max("SALARY").alias("count")).show(1)

+-----+
|count|
+-----+
|24000|
+-----+

In [23]:
data.select(min("SALARY").alias("count")).show(1)

+-----+
|count|
+-----+
| 2100|
+-----+

In [24]:
data.select(avg("SALARY").alias("count")).show(1)

+-------+
|  count|
+-------+
|6182.32|
+-------+

In [25]:
data.select(sum("SALARY").alias("count")).show(1)

+------+
| count|
+------+
|309116|
+------+

In [26]:
data.select("SALARY").show(10)

+------+
|SALARY|
+------+
|  2600|
|  2600|
|  4400|
| 13000|
|  6000|
|  6500|
| 10000|
| 12008|
|  8300|
| 24000|
+------+
only showing top 10 rows

In [27]:
data.select("SALARY").orderBy("SALARY").show(10)

+------+
|SALARY|
+------+
|  2100|
|  2200|
|  2200|
|  2400|
|  2400|
|  2500|
|  2500|
|  2500|
|  2600|
|  2600|
+------+
only showing top 10 rows

In [28]:
data.select("SALARY").orderBy(col("SALARY").desc()).show(10)

+------+
|SALARY|
+------+
| 24000|
| 17000|
| 17000|
| 13000|
| 12008|
| 12008|
| 11000|
| 10000|
|  9000|
|  9000|
+------+
only showing top 10 rows

In [29]:
data.select("*").show(1)

+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|  2600|            - |       124|           50|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
only showing top 1 row

In [30]:
data.groupBy("MANAGER_ID").agg(count("SALARY"),max("SALARY"),min("SALARY")).show(1)

+----------+-------------+-----------+-----------+
|MANAGER_ID|count(SALARY)|max(SALARY)|min(SALARY)|
+----------+-------------+-----------+-----------+
|       124|            2|       2600|       2600|
+----------+-------------+-----------+-----------+
only showing top 1 row

In [31]:
data.show(5)

+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|  2600|            - |       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|SH_CLERK|  2600|            - |       124|           50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03| AD_ASST|  4400|            - |       101|           10|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|  MK_MAN| 13000|            - |       100|           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|  MK_REP|  6000|            - |       201|           20|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
only showing top 5 rows

In [48]:
data.withColumn("Class",when( col("SALARY") < 5000 , 3).when( ((col("SALARY") >=5000) & (col("SALARY")<=10000)) , 2).otherwise("1")).select("SALARY","Class").show(5)

+------+-----+
|SALARY|Class|
+------+-----+
|  2600|    3|
|  2600|    3|
|  4400|    3|
| 13000|    1|
|  6000|    2|
+------+-----+
only showing top 5 rows

In [53]:
from pyspark.sql.functions import *
data.createOrReplaceTempView("employee")
spark.sql("select * from employee limit 1").select("EMPLOYEE_ID","SALARY").show()

+-----------+------+
|EMPLOYEE_ID|SALARY|
+-----------+------+
|        198|  2600|
+-----------+------+

In [55]:
empdf=spark.read.option("header",True).option("inferSchema",True).csv("../Data/employees.csv")
empdf.show(1)

+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|  2600|            - |       124|           50|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
only showing top 1 row

In [56]:
deptdf=spark.read.option("header",True).option("inferSchema",True).csv("../Data/departments.csv")
deptdf.show(1)

+-------------+---------------+----------+-----------+
|DEPARTMENT_ID|DEPARTMENT_NAME|MANAGER_ID|LOCATION_ID|
+-------------+---------------+----------+-----------+
|           10| Administration|       200|       1700|
+-------------+---------------+----------+-----------+
only showing top 1 row

In [61]:
empdf.join(deptdf,empdf.DEPARTMENT_ID == deptdf.DEPARTMENT_ID,"inner").show()

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+-------------+----------------+----------+-----------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|DEPARTMENT_ID| DEPARTMENT_NAME|MANAGER_ID|LOCATION_ID|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+-------------+----------------+----------+-----------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|            - |       124|           50|           50|        Shipping|       121|       1500|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|            - |       124|           50|           50|        Shipping|       121|       1500|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|            - |       101|           10|           10|  Administration|       200|       1700|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|            - |       100|           20|           20|       Marketing|       201|       1800|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|            - |       201|           20|           20|       Marketing|       201|       1800|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|            - |       101|           40|           40| Human Resources|       203|       2400|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|            - |       101|           70|           70|Public Relations|       204|       2700|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|            - |       101|          110|          110|      Accounting|       205|       1700|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|            - |       205|          110|          110|      Accounting|       205|       1700|
|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|            - |        - |           90|           90|       Executive|       100|       1700|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|            - |       100|           90|           90|       Executive|       100|       1700|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|            - |       100|           90|           90|       Executive|       100|       1700|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|            - |       102|           60|           60|              IT|       103|       1400|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|            - |       103|           60|           60|              IT|       103|       1400|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|            - |       103|           60|           60|              IT|       103|       1400|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-FEB-06|   IT_PROG|  4800|            - |       103|           60|           60|              IT|       103|       1400|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|            - |       103|           60|           60|              IT|       103|       1400|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|            - |       101|          100|          100|         Finance|       108|       1700|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|            - |       108|          100|          100|         Finance|       108|       1700|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|            - |       108|          100|          100|         Finance|       108|       1700|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+-------------+----------------+----------+-----------+
only showing top 20 rows