In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField,StringType,IntegerType

In [2]:
#Creating Spark Session (It will executed in the Local Not in the Master Node)
spark=SparkSession.builder.master("local[*]").appName("demo").getOrCreate()
spark

23/03/22 13:27:16 WARN Utils: Your hostname, ZSCHN01LP0253L resolves to a loopback address: 127.0.1.1; using 192.168.1.5 instead (on interface wlp0s20f3)
23/03/22 13:27:16 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/22 13:27:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/03/22 13:27:17 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/03/22 13:27:17 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/03/22 13:27:17 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
23/03/22 13:27:17 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

In [11]:
# Read data from HDFS path
df2 = spark.read.option("header",True).option("delimiter",",").csv("../Spark-main/departments.csv")
# df2 = spark.read.option("header",True).option("inferSchema",True).csv("../Spark-main/departments.csv")
df2.printSchema()

root
 |-- DEPARTMENT_ID: string (nullable = true)
 |-- DEPARTMENT_NAME: string (nullable = true)
 |-- MANAGER_ID: string (nullable = true)
 |-- LOCATION_ID: string (nullable = true)

In [12]:
df2 = spark.read.option("header",True).option("delimiter",",").option("inferSchema",True).csv("../Spark-main/departments.csv")
# df2 = spark.read.option("header",True).option("inferSchema",True).csv("../Spark-main/departments.csv")
df2.printSchema()

root
 |-- DEPARTMENT_ID: integer (nullable = true)
 |-- DEPARTMENT_NAME: string (nullable = true)
 |-- MANAGER_ID: string (nullable = true)
 |-- LOCATION_ID: integer (nullable = true)

In [13]:
# HDFS is in different locations 
# df2 = spark.read.option("header",True).option("inferSchema",True).csv("hdfs://namenode:8888/Spark-main/departments.csv")

In [14]:
df2.show(truncate=True)

+-------------+--------------------+----------+-----------+
|DEPARTMENT_ID|     DEPARTMENT_NAME|MANAGER_ID|LOCATION_ID|
+-------------+--------------------+----------+-----------+
|           10|      Administration|       200|       1700|
|           20|           Marketing|       201|       1800|
|           30|          Purchasing|       114|       1700|
|           40|     Human Resources|       203|       2400|
|           50|            Shipping|       121|       1500|
|           60|                  IT|       103|       1400|
|           70|    Public Relations|       204|       2700|
|           80|               Sales|       145|       2500|
|           90|           Executive|       100|       1700|
|          100|             Finance|       108|       1700|
|          110|          Accounting|       205|       1700|
|          120|            Treasury|        - |       1700|
|          130|       Corporate Tax|        - |       1700|
|          140|  Control And Credit|        - |       1700|
|          150|Shareholder Services|        - |       1700|
|          160|            Benefits|        - |       1700|
|          170|       Manufacturing|        - |       1700|
|          180|        Construction|        - |       1700|
|          190|         Contracting|        - |       1700|
|          200|          Operations|        - |       1700|
+-------------+--------------------+----------+-----------+
only showing top 20 rows