In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField,StringType,IntegerType

In [2]:
#Creating Spark Session (It will executed in the Local Not in the Master Node)
spark=SparkSession.builder.master("local[*]").appName("demo").getOrCreate()
spark

23/03/23 16:01:12 WARN Utils: Your hostname, ZSCHN01LP0253L resolves to a loopback address: 127.0.1.1; using 192.168.229.237 instead (on interface wlp0s20f3)
23/03/23 16:01:12 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/23 16:01:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/03/23 16:01:13 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/03/23 16:01:13 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/03/23 16:01:13 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
23/03/23 16:01:13 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
23/03/23 16:01:13 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
23/03/23 16:01:13 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.
23/03/23 16:01:13 WARN Utils: Service 'SparkUI' could not bind on port 4046. Attempting port 4047.
23/03/23 16:01:13 WARN Utils: Service 'SparkUI' could not bind on port 4047. Attempting port 4048.
23/03/23 16:01:13 WARN Utils: Service 'SparkUI' could not bind on port 4048. Attempting port 4049.
23/03/23 16:01:13 WARN Utils: Service 'SparkUI' could not bind on port 4049. Attempting port 4050.
23/03/23 16:01:13 WARN Utils: Service 'SparkUI' could not bind on port 4050. Attempting port 4051.

In [3]:
empDf = spark.read.option("header",True).option("inferSchema",True).csv("../Spark-main/employees.csv")
empDf.printSchema()

root
 |-- EMPLOYEE_ID: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: string (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: integer (nullable = true)
 |-- COMMISSION_PCT: string (nullable = true)
 |-- MANAGER_ID: string (nullable = true)
 |-- DEPARTMENT_ID: integer (nullable = true)

In [4]:
empDf.select("EMPLOYEE_ID","FIRST_NAME","DEPARTMENT_ID").orderBy("salary").show()

+-----------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|DEPARTMENT_ID|
+-----------+----------+-------------+
|        132|        TJ|           50|
|        136|     Hazel|           50|
|        128|    Steven|           50|
|        127|     James|           50|
|        135|        Ki|           50|
|        131|     James|           50|
|        119|     Karen|           30|
|        140|    Joshua|           50|
|        198|    Donald|           50|
|        199|   Douglas|           50|
|        118|       Guy|           30|
|        126|     Irene|           50|
|        139|      John|           50|
|        130|     Mozhe|           50|
|        117|     Sigal|           30|
|        116|    Shelli|           30|
|        134|   Michael|           50|
|        115| Alexander|           30|
|        125|     Julia|           50|
|        138|   Stephen|           50|
+-----------+----------+-------------+
only showing top 20 rows

In [5]:
empDf.select("EMPLOYEE_ID","FIRST_NAME","DEPARTMENT_ID","SALARY").orderBy("salary").show()

+-----------+----------+-------------+------+
|EMPLOYEE_ID|FIRST_NAME|DEPARTMENT_ID|SALARY|
+-----------+----------+-------------+------+
|        132|        TJ|           50|  2100|
|        136|     Hazel|           50|  2200|
|        128|    Steven|           50|  2200|
|        127|     James|           50|  2400|
|        135|        Ki|           50|  2400|
|        131|     James|           50|  2500|
|        119|     Karen|           30|  2500|
|        140|    Joshua|           50|  2500|
|        198|    Donald|           50|  2600|
|        199|   Douglas|           50|  2600|
|        118|       Guy|           30|  2600|
|        126|     Irene|           50|  2700|
|        139|      John|           50|  2700|
|        130|     Mozhe|           50|  2800|
|        117|     Sigal|           30|  2800|
|        116|    Shelli|           30|  2900|
|        134|   Michael|           50|  2900|
|        115| Alexander|           30|  3100|
|        125|     Julia|           50|  3200|
|        138|   Stephen|           50|  3200|
+-----------+----------+-------------+------+
only showing top 20 rows

In [9]:
from pyspark.sql.functions import *
empDf.select("EMPLOYEE_ID","FIRST_NAME","DEPARTMENT_ID","SALARY").orderBy(col("DEPARTMENT_ID").asc(),col("SALARY").desc()).show(100)

+-----------+-----------+-------------+------+
|EMPLOYEE_ID| FIRST_NAME|DEPARTMENT_ID|SALARY|
+-----------+-----------+-------------+------+
|        200|   Jennifer|           10|  4400|
|        201|    Michael|           20| 13000|
|        202|        Pat|           20|  6000|
|        114|        Den|           30| 11000|
|        115|  Alexander|           30|  3100|
|        116|     Shelli|           30|  2900|
|        117|      Sigal|           30|  2800|
|        118|        Guy|           30|  2600|
|        119|      Karen|           30|  2500|
|        203|      Susan|           40|  6500|
|        121|       Adam|           50|  8200|
|        120|    Matthew|           50|  8000|
|        122|      Payam|           50|  7900|
|        123|     Shanta|           50|  6500|
|        124|      Kevin|           50|  5800|
|        137|     Renske|           50|  3600|
|        133|      Jason|           50|  3300|
|        129|      Laura|           50|  3300|
|        125|      Julia|           50|  3200|
|        138|    Stephen|           50|  3200|
|        134|    Michael|           50|  2900|
|        130|      Mozhe|           50|  2800|
|        126|      Irene|           50|  2700|
|        139|       John|           50|  2700|
|        198|     Donald|           50|  2600|
|        199|    Douglas|           50|  2600|
|        131|      James|           50|  2500|
|        140|     Joshua|           50|  2500|
|        135|         Ki|           50|  2400|
|        127|      James|           50|  2400|
|        128|     Steven|           50|  2200|
|        136|      Hazel|           50|  2200|
|        132|         TJ|           50|  2100|
|        103|  Alexander|           60|  9000|
|        104|      Bruce|           60|  6000|
|        105|      David|           60|  4800|
|        106|      Valli|           60|  4800|
|        107|      Diana|           60|  4200|
|        204|    Hermann|           70| 10000|
|        100|     Steven|           90| 24000|
|        102|        Lex|           90| 17000|
|        101|      Neena|           90| 17000|
|        108|      Nancy|          100| 12008|
|        109|     Daniel|          100|  9000|
|        110|       John|          100|  8200|
|        112|Jose Manuel|          100|  7800|
|        111|     Ismael|          100|  7700|
|        113|       Luis|          100|  6900|
|        205|    Shelley|          110| 12008|
|        206|    William|          110|  8300|
+-----------+-----------+-------------+------+