In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 3.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=8ca9b7d22ff43b92e4e614a2423d263a9cbf2c3ce837704a36c7629b032e70a9
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

In [ ]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.master("local[*]").getOrCreate()
spark

In [ ]:
data = [("John", 28, "New York"),
        ("Alice", 34, "Los Angeles"),
        ("Bob", 23, "San Francisco")]

# Define the schema (column names)
columns = ["Name", "Age", "City"]

# Create a DataFrame
df = spark.createDataFrame(data, schema=columns)

# Show the DataFrame
df.show()

+-----+---+-------------+
| Name|Age|         City|
+-----+---+-------------+
| John| 28|     New York|
|Alice| 34|  Los Angeles|
|  Bob| 23|San Francisco|
+-----+---+-------------+

In [ ]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)
 |-- City: string (nullable = true)

In [ ]:
print("Rows= ",df.count())
print("Columns= ",len(df.columns))

Rows=  5
Columns=  5

In [ ]:
#Type 2
from pyspark.sql.types import StructType,StructField,StringType,IntegerType

In [ ]:
person_list = [("Berry","","Allen",1,"M"),
        ("Oliver","Queen","",2,"M"),
        ("Robert","","Williams",3,"M"),
        ("Tony","","Stark",4,"F"),
        ("Rajiv","Mary","Kumar",5,"F")
]

#Creating The Schema For the Dataset
schema = StructType([ \
        StructField("firstname",StringType(),True), \
        StructField("middlename",StringType(),True), \
        StructField("lastname",StringType(),True), \
        StructField("id", IntegerType(), True),\
        StructField("gender", StringType(), True)])

#Creating Spark DataFrame
df = spark.createDataFrame(data=person_list,schema=schema)
df.show()

+---------+----------+--------+---+------+
|firstname|middlename|lastname| id|gender|
+---------+----------+--------+---+------+
|    Berry|          |   Allen|  1|     M|
|   Oliver|     Queen|        |  2|     M|
|   Robert|          |Williams|  3|     M|
|     Tony|          |   Stark|  4|     F|
|    Rajiv|      Mary|   Kumar|  5|     F|
+---------+----------+--------+---+------+

In [ ]:
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: integer (nullable = true)
 |-- gender: string (nullable = true)