In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField,StringType,IntegerType

In [2]:
#Creating Spark Session (It will executed in the Local Not in the Master Node)
spark=SparkSession.builder.master("local[*]").appName("demo").getOrCreate()
spark

23/03/23 15:57:16 WARN Utils: Your hostname, ZSCHN01LP0253L resolves to a loopback address: 127.0.1.1; using 192.168.229.237 instead (on interface wlp0s20f3)
23/03/23 15:57:16 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/23 15:57:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/03/23 15:57:17 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/03/23 15:57:17 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/03/23 15:57:17 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
23/03/23 15:57:17 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
23/03/23 15:57:17 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
23/03/23 15:57:17 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.
23/03/23 15:57:17 WARN Utils: Service 'SparkUI' could not bind on port 4046. Attempting port 4047.
23/03/23 15:57:17 WARN Utils: Service 'SparkUI' could not bind on port 4047. Attempting port 4048.

In [3]:
empDf = spark.read.option("header",True).option("inferSchema",True).csv("../Spark-main/employees.csv")
empDf.printSchema()

root
 |-- EMPLOYEE_ID: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: string (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: integer (nullable = true)
 |-- COMMISSION_PCT: string (nullable = true)
 |-- MANAGER_ID: string (nullable = true)
 |-- DEPARTMENT_ID: integer (nullable = true)

In [4]:
from pyspark.sql.functions import *
empDf.count()

50

In [5]:
empDf.select(count("salary")).show()

+-------------+
|count(salary)|
+-------------+
|           50|
+-------------+

In [6]:
empDf.select(count("salary").alias("total_count")).show()

+-----------+
|total_count|
+-----------+
|         50|
+-----------+

In [7]:
empDf.select(max("salary").alias("max_salary")).show()

+----------+
|max_salary|
+----------+
|     24000|
+----------+

In [8]:
empDf.select(min("salary").alias("min_salary")).show()

+----------+
|min_salary|
+----------+
|      2100|
+----------+

In [9]:
empDf.select(avg("salary").alias("avg_salary")).show()

+----------+
|avg_salary|
+----------+
|   6182.32|
+----------+

In [10]:
empDf.select(sum("salary").alias("sum_salary")).show()

+----------+
|sum_salary|
+----------+
|    309116|
+----------+

In [11]:
#empdf.select("EMPLOYEE_ID",sum("salary").alias("sum_salary")).show()
#Note : This will not execute 
empDf.select("EMPLOYEE_ID", sum("salary").alias("sum_salary")).show()

AnalysisException: grouping expressions sequence is empty, and 'EMPLOYEE_ID' is not an aggregate function. Wrap '(sum(salary) AS sum_salary)' in windowing function(s) or wrap 'EMPLOYEE_ID' in first() (or first_value) if you don't care which value you get.;
Aggregate [EMPLOYEE_ID#17, sum(salary#24) AS sum_salary#139L]
+- Relation [EMPLOYEE_ID#17,FIRST_NAME#18,LAST_NAME#19,EMAIL#20,PHONE_NUMBER#21,HIRE_DATE#22,JOB_ID#23,SALARY#24,COMMISSION_PCT#25,MANAGER_ID#26,DEPARTMENT_ID#27] csv