In [ ]:
!pip install pyspark
!pip install -q findspark
import findspark
findspark.init()

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 5.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=d5324e665888cc4bd148a4a44de0a873e2accc2a1b9987c6b48f1375747af2bf
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[4]").appName("SkewinDF").getOrCreate()
#Note
#setMaster("local[4]") is represents the core and here 4 core is using
#setMaster("local[*]") is represents the core and here maximum number of core is using
spark

In [ ]:
csv_df = spark.read.format("csv").option("header", "true").option("inferSchema","true").load("s3a://your-bucket-name/path/to/your-file.csv")
parquet_df = spark.read.format("parquet").load("s3a://your-bucket-name/path/to/your-file.parquet")

NameError: name 'df' is not defined

In [ ]:
#Create the DataFrame
from pyspark.sql.types import StructType,StructField,StringType,IntegerType

person_list = [("Berry","","Allen",1,"M"),
        ("Oliver","Queen","",2,"M"),
        ("Robert","","Williams",3,"M"),
        ("Tony","","Stark",4,"F"),
        ("Rajiv","Mary","Kumar",5,"F")
]
#Creating The Schema For the Dataset
schema = StructType([ \
        StructField("firstname",StringType(),True), \
        StructField("middlename",StringType(),True), \
        StructField("lastname",StringType(),True), \
        StructField("id", IntegerType(), True),\
        StructField("gender", StringType(), True)])
#Creating Spark DataFrame
df = spark.createDataFrame(data=person_list,schema=schema)
df

In [ ]:
# aggragations functions
empDf.select(max("salary").alias("max_salary")).show()

In [ ]:
#Filter

empDf.filter(empDf["SALARY"] < 5000).show(1)
empDf.filter((empDf["SALARY"] < 5000) & (empDf["SALARY"] < 5000)).show(1)

In [ ]:
#SQL Operation :

df2.createOrReplaceTempView("df_football")

sql_query="SELECT Age,count(*) as Count From df_football WHERE Overall > 70 GROUP BY Age ORDER BY Age"
result=spark.sql(sql_query)
result.show()

In [ ]:
mysql_url = "jdbc:mysql://hostname:3306/database_name"

mysql_properties = {
    "user": "your_username",
    "password": "your_password",
    "driver": "com.mysql.cj.jdbc.Driver"  # Use 'com.mysql.jdbc.Driver' for older versions
}

# Write DataFrame to MySQL
df.write.jdbc(url=mysql_url, table="your_table_name", mode="append", properties=mysql_properties)