In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField,StringType,IntegerType

In [3]:
#Creating Spark Session (It will executed in the Local Not in the Master Node)
spark=SparkSession.builder.master("local[*]").appName("demo").getOrCreate()
spark

23/04/04 12:37:15 WARN Utils: Your hostname, ZSCHN01LP0253L resolves to a loopback address: 127.0.1.1; using 192.168.1.5 instead (on interface wlp0s20f3)
23/04/04 12:37:15 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/04 12:37:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/04/04 12:37:16 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/04/04 12:37:16 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [5]:
empDf = spark.read.option("header",True).option("inferSchema",True).csv("../../Spark-main/employees.csv")
empDf.printSchema()

root
 |-- EMPLOYEE_ID: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: string (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: integer (nullable = true)
 |-- COMMISSION_PCT: string (nullable = true)
 |-- MANAGER_ID: string (nullable = true)
 |-- DEPARTMENT_ID: integer (nullable = true)

In [6]:
from pyspark.sql.functions import *

### Case

In [7]:
df = empDf.withColumn("EMP_GRADE", when( col("SALARY") > 15000 , "A").when( (col("SALARY") >= 10000) & ( col("SALARY") < 15000), "B").otherwise("C"))
df.select("EMPLOYEE_ID", "SALARY", "EMP_GRADE").show(100)

+-----------+------+---------+
|EMPLOYEE_ID|SALARY|EMP_GRADE|
+-----------+------+---------+
|        198|  2600|        C|
|        199|  2600|        C|
|        200|  4400|        C|
|        201| 13000|        B|
|        202|  6000|        C|
|        203|  6500|        C|
|        204| 10000|        B|
|        205| 12008|        B|
|        206|  8300|        C|
|        100| 24000|        A|
|        101| 17000|        A|
|        102| 17000|        A|
|        103|  9000|        C|
|        104|  6000|        C|
|        105|  4800|        C|
|        106|  4800|        C|
|        107|  4200|        C|
|        108| 12008|        B|
|        109|  9000|        C|
|        110|  8200|        C|
|        111|  7700|        C|
|        112|  7800|        C|
|        113|  6900|        C|
|        114| 11000|        B|
|        115|  3100|        C|
|        116|  2900|        C|
|        117|  2800|        C|
|        118|  2600|        C|
|        119|  2500|        C|
|        120|  8000|        C|
|        121|  8200|        C|
|        122|  7900|        C|
|        123|  6500|        C|
|        124|  5800|        C|
|        125|  3200|        C|
|        126|  2700|        C|
|        127|  2400|        C|
|        128|  2200|        C|
|        129|  3300|        C|
|        130|  2800|        C|
|        131|  2500|        C|
|        132|  2100|        C|
|        133|  3300|        C|
|        134|  2900|        C|
|        135|  2400|        C|
|        136|  2200|        C|
|        137|  3600|        C|
|        138|  3200|        C|
|        139|  2700|        C|
|        140|  2500|        C|
+-----------+------+---------+